*.py[co]

# Packages
*.egg
*.eggs
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
.python-version

# We are using MANIFEST.in instead
MANIFEST

# Installer logs
pip-log.txt

# Unit test / coverage reports
.hypothesis
.coverage
.tox
.cache
.pytest

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

# PyCharm
.idea
