include README.rst
include LICENSE
include natsort/natsort.py
include natsort/_version.py
include natsort/__main__.py
include natsort/__init__.py
include natsort/py23compat.py
include setup.py
include setup.cfg
prune natsort/__pycache__
