include README.rst
include LICENSE
include natsort/natsort.py
include natsort/_version.py
include natsort/__main__.py
include natsort/__init__.py
include natsort/py23compat.py
include natsort/locale_help.py
include natsort/fake_fastnumbers.py
include test_natsort/profile_natsorted.py
include test_natsort/stress_natsort.py
include test_natsort/test_natsort.py
include test_natsort/test_locale_help.py
include test_natsort/test_fake_fastnumbers.py
include test_natsort/test_main.py
include setup.py
include setup.cfg
prune natsort/__pycache__
graft docs/source
