include README.rst
include LICENSE
include *.md
include *.sh
include Pipfile
include setup.py
include setup.cfg
include tox.ini
include .travis.yml
include .coveragerc
include .gitignore
include .bumpversion.cfg
graft docs
graft natsort
graft test_natsort
global-exclude *.py[cod] __pycache__ *.so
