[dev-packages]
coverage      = "*"
pytest        = ">=3.5"
pytest-cov    = "*"
pytest-flakes = "*"
pytest-pep8   = "*"
pytest-mock   = ">=1.1"
hypothesis    = ">=3.8.0"
pytest-faulthandler = {version = "*", platform_python_implementation = "== 'CPython'"}

# These packages are standard on newer python versions.
pathlib = {version = "*", python_version = "< '3.4'"}
